body {
  background-color: #222;
}

.box {
  font-family: monospace;
  color: #ccc;
  background-color: #111;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.terminal {
  white-space: pre-wrap;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu div * {
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.black {
  color: #000000;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.magenta {
  color: magenta;
}

.cyan {
  color: cyan;
}

.grey {
  color: grey;
}

.white {
  color: white;
}

a {
  color: #ddd;
  background-color: #111;
  vertical-align: middle;
}

a img {
  vertical-align: text-top;
}

a:hover {
  color: #111;
  background-color: #ddd;
}

a:hover img {
  filter: invert();
}

.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

#share_block {
  border-color: #ddd;
  border-style: double;
  border-width: 5px;
}

#data_sharing_conditions {
  border-color: #ddd;
  border-style: dashed;
  border-width: 2px;
  padding: 5px;
  font-size: 0.8em;
}

#share_accepted {
  accent-color: #111;
}

#error_block {
  font-size: 12px;
  border-style: dashed;
  border-color: #ff0000;
  border-width: 3px;
  overflow-wrap: break-word;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s ease;
}
